* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #24272e;
}
header {
  background: white;
  padding: 20px;
}
header > h1 {
  color: #23272e;
  text-align: center;
  font-family: sans-serif;
}
.score_board {
  margin: 20px auto;
  border: 3px solid white;
  width: 200px;
  color: white;
  border-radius: 4px;
  text-align: center;
  font-size: 46px;
  font-family: sans-serif;
  padding: 15px 20px;
  position: relative;
}
.badge {
  background: #e25840;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
}
#user-label {
  position: absolute;
  top: 30px;
  left: -18px;
}
#comp-label {
  position: absolute;
  top: 30px;
  right: -18px;
}
.result {
  font-size: 40px;
  color: white;
}
.result > p {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}
.choices {
  margin-top: 50px;
  text-align: center;
}
.choice {
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  padding: 15px;
  margin: 0 20px;
  transition: all .5s ease;
}
.choice:hover {
  cursor: pointer;
  background: black;
}
#action-message {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
}
.green-glow{
  border:4px solid green;
  box-shadow:0px 0px 30px green;
}
.red-glow{
  border:4px solid red;
  box-shadow:0px 0px 30px red;
}
.gray-glow{
  border:4px solid palevioletred;
  box-shadow:0px 0px 30px palevioletred;
}